<!DOCTYPE html>
<html ng-app="myApp">
   <head>
      <!--<script data-require="angular.js@1.5.8" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script> -->
      <script src="lib/angular.js"></script>
      <script src="lib/angular-ui-router.js"></script>
      <!-- 
         <script data-require="angular.js@1.5.8" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>
         <script data-require="ui-router@0.3.0" data-semver="0.3.0" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script>         
         -->
      <script type="text/javascript" src="data/books.json"></script>
      <script type="text/javascript" src="src/main/app.js"></script>
      <script type="text/javascript" src="src/services/service.js"></script>  
      <script type="text/javascript" src="src/filters/filter.js"></script> 
      <script type="text/javascript" src="src/controllers/controller.js"></script>
      <script type="text/javascript" src="src/controllers/addBookCtrl.js"></script>
      <link rel="stylesheet" type="text/css" href="html/theme.css">
   </head>
   <body>
      <h1>Angular Bookstore App</h1>
      <ul class="tab">
         <li><a ui-sref="bookList">Book List</a></li>
         <li><a ui-sref="addBook">Add Book</a></li>
      </ul>
      <br>
      <!-- The Modal -->
      <div id="myModal" class="modal" >
         <!-- Modal content -->
         <div class="modal-content" ng-controller="myCtrl">
            <div class="modal-header">
               <h3>Order Book</h3>
            </div>
            <div class="modal-body">               
               Quantity:   
               <input name="inStock" type="number" ng-model="book.orderQuantity">
               <br>
               <br>
               <button type="submit" value="Submit" ng-click="orderBookWithQuantiy(book)">Order</button>
               <button type="cancel" value="Cancel" ng-click="closeWindow()">Cancel</button>
            </div>
         </div>
      </div>

      <div id="confirmBookDeleteModel" class="modal" >
         <!-- Modal content -->
         <div class="modal-content" ng-controller="myCtrl">
            <div class="modal-header">
               <h3>Remove Book</h3>
            </div>
            <div class="modal-body">
               <br>
               <br>
               Are you sure you want to delete the book?
               <br>
               <br>
               <br>
               <button type="submit" value="Submit" ng-click="removeBookConfirm(book)">Yes</button>
               <button type="cancel" value="Cancel" ng-click="closeRemoveBookConfirm()">Cancel</button>
            </div>
         </div>
      </div>
      
      <div ui-view>
      <div>
   </body>
</html>