<!DOCTYPE html>
<html>
<div ng-controller="myCtrl">
      <table class="bookListTable" border="1" >
         <tr>
            <th>Auther</th>
            <th>Title</th>
            <th>Number of Pages <img src="html/images/sort_neutral.ico" height=20 width=20 ng-click="sortBy('numPages')"></img></th>
            <th>Description</th>
            <th>In Stock</th>
            <th>Price <img src="html/images/sort_neutral.ico" height=20 width=20 ng-click="sortBy('price')"></img></th>
            <th>Book added at</th>
            <th>Book ordered Last at</th>
            <th>Remove Book</th>
            <th>Order Book</th>            
         </tr>
         <tr>
            <td><input name="autherSearch" type="text" placeholder="Search auther by name" ng-model="autherSearchString"></td>
         </tr>
         <tr  ng-repeat="book in books | searchAuther:autherSearchString |orderBy:columnName:reverse">
            <td ng-click="setBook(book)">{{book.auther}}</td>            
            <td ng-click="setBook(book)">{{book.title}}</td>
            <td ng-click="setBook(book)">{{book.numPages}}</td>
            <td ng-click="setBook(book)">{{(book.description | limitTo: 20 )}}<b>.. more</b></td>
            <td>
               <span ng-click="setBook(book)" ng-show="!editInStock">{{book.inStock}}</span>
               <input type="number" ng-model="book.inStock" ng-required ng-show="editInStock"/>
               <img src="html/images/edit_icon.ico" height=15 width=15 ng-click="editInStock = true" ng-show="!editInStock"></img>
               <img src="html/images/save.ico" height=15 width=15 ng-show="editInStock" ng-click="editInStock = false; saveBook(book)"></img>
            </td>
            <td ng-click="setBook(book)">{{book.price | currency:"&#8377; ":2}}</td>
            <td ng-click="setBook(book)">{{book.addedAt | date:'medium'}}</td>
            <td ng-click="setBook(book)">{{book.orderedAt | date:'medium'}}</td>
            <td>
               <button type="submit" value="remove" ng-click="showRemoveBookConfirm(book)">Remove book</button>
            </td>
            <td>
               <button type="submit" value="order" ng-click="orderBook(book)">Order Book</button>
            </td>
         </tr>
      </table>
      <br><br><br>
  </div>
</html>
